.container {
  margin: 0 auto;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.dice {
  text-align: center;
  display: inline-block;

}
body {
  background-color: #393E46;
}
h1 {
  margin: 30px;
  text-shadow: 10px 0px #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
h2{
  margin: 10px;
  color:#EEEEEE ;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
}
img {
  width: 50%;
}

footer {
  list-style-type: none;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
li {
  
  list-style-type: none;
}
